/* input.css */
@font-face {
    font-family: "Iosevka";
    src: url("../fonts/IosevkaTermNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Take full viewport height */
    margin: 0; /* Remove default body margin */
    color: #FFFFFF;
    background-color: #000000; 
    flex-direction: column;
}

body a {
    font-family: "Iosevka", sans-serif;
    color: #FABD2F;  
}

body a:visited, a:active {
    color: #FABD2F;  
}

body a:hover {
    color: #BABB26;
}

.text{
    font-family: "Iosevka", sans-serif;
    font-size: 16pt;
}

/* terminal */
.terminal {
    font-size: 36pt;
    font-family: "Iosevka", sans-serif;
    white-space: nowrap;
}

.cursor {
    display: inline-block;
    animation: blink 1.5s step-end infinite;
}

/* Blinking cursor animation */
@keyframes blink {
    50% {
        opacity: 0;
    }
}
