@import "tailwindcss";

@font-face {
    font-family: "Iosevka";
    src: url("../fonts/IosevkaTermNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

main {
    font-family: "Iosevka";
}

.cursor {
    /*display: inline-block;*/
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

main *::-webkit-scrollbar {
    display: none;  /* Hides the scrollbar for WebKit browsers (Chrome, Safari, etc.) */
}

main * {
    -ms-overflow-style: none;  /* Hides the scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hides the scrollbar for Firefox */
}

body {
    background-image: url(../images/ISSAltitude.png)
}
